<div class="container">

    <app-menu></app-menu>

    <div class="user">
        <p>Puntuacion: {{scoreUser}}</p>
    </div>
    
    <div class="game-boxs">
        <div class="box" (click)="chooseOption(tijera)">
            <fa-icon [icon]="faHandScissors" class="icon" ></fa-icon>
        </div>
        <div class="box"  (click)="chooseOption(piedra)">
            <fa-icon [icon]="faHandRock" class="icon" ></fa-icon>
        </div>
        <div class="box" (click)="chooseOption(papel)">
            <fa-icon [icon]="faHandPaper" class="icon"  ></fa-icon>
        </div>
    </div>
    

    <div class="scores">
        <span *ngIf="stringOptionUser"> Tú: {{stringOptionUser}}</span>
        <span *ngIf="stringOptionComputer"> Máquina: {{stringOptionComputer}}</span>
    </div>
    <div class="who-win" *ngIf='textScore'>
        <span>{{textScore}}</span>
    </div>
    
</div>


